.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
}

.table {
  border-collapse: collapse;
  padding-top: 30px;
}

.tableTitle {
  padding-bottom: 10px;
}

.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.paginationContainer {
  padding-top: 20px;
}
